In [1]:
import pandas as pd
import datetime as dt
import os as os
import xlrd

In [2]:
os.chdir('/Users/samuelhill/client/data/')
os.getcwd()

'/Users/samuelhill/client/data'

In [10]:
pay = pd.read_csv('Payslips.csv')
dis = pd.read_csv('Disbursements.csv')

In [11]:
pay['date'] = pd.to_datetime(pay['end'].apply(
    lambda date: xlrd.xldate_as_datetime(date, 0)))

KeyError: 'end'

In [12]:
pay['date'] = pd.PeriodIndex(pay['date'], freq='Q')

In [63]:
pay = pay.drop(['end'], 1)

In [13]:
pay.head()

,Unnamed: 0,payslip_id,employee_code,code,amount,date
0,0,10d3e5e3-2556-4f56-8053-6b1f39975ea1,1155,13 - Public Hol,401.92,2018Q1
1,1,10d3e5e3-2556-4f56-8053-6b1f39975ea1,1155,T997 - Term G - Long Service Lve Post 17/8/93,17855.96,2018Q1
2,2,10d3e5e3-2556-4f56-8053-6b1f39975ea1,1155,T998 - Term G - Lve Loading Post 17/8/93,371.38,2018Q1
3,3,10d3e5e3-2556-4f56-8053-6b1f39975ea1,1155,T999 - Term G - Annual Lve Post 17/8/93,2122.18,2018Q1
4,4,3ff7c572-49f1-4a43-abb4-b09142b26540,1963,1 - Normal,1733.80,2018Q1

In [14]:
pay.to_csv('Payslips.csv', encoding='utf-8')

In [6]:
dis.head()

,sgc_amount,payment_made,pay_period_from,pay_period_to,employee_code
0,763.66,2017-11-01T00:00:00,2017-09-25T00:00:00,2017-10-22T00:00:00,1155
1,1110.76,2017-08-09T00:00:00,2017-06-19T00:00:00,2017-07-30T00:00:00,1155
2,763.66,2017-10-04T00:00:00,2017-08-28T00:00:00,2017-09-24T00:00:00,1155
3,763.66,2017-11-30T00:00:00,2017-10-23T00:00:00,2017-11-19T00:00:00,1155
4,763.66,2017-09-06T00:00:00,2017-07-31T00:00:00,2017-08-27T00:00:00,1155

In [8]:
dis['date'] = pd.PeriodIndex(dis['pay_period_to'], freq='Q')
dis['date']

0     2017Q4
1     2017Q3
2     2017Q3
3     2017Q4
4     2017Q3
       ...
70    2017Q4
71    2018Q2
72    2017Q3
73    2017Q4
74    2017Q3
Name: date, Length: 75, dtype: period[Q-DEC]

In [9]:
dis.to_csv('Disbursements.csv', encoding='utf-8')